<?xml version="1.0" encoding="UTF-8"?><configuration>    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">        <encoder charset="UTF-8">            <pattern>%msg%n</pattern>            <charset>UTF-8</charset>        </encoder>    </appender>    <logger name="com.eisoo.telemetry.log" level="trace"            additivity="false">        <appender-ref ref="stdout"/>    </logger></configuration>